# Node / Backend
backend/node_modules/
backend/.env

# Frontend (Vite / React)
frontend/node_modules/
frontend/.env

# Solidity
contracts/artifacts/
contracts/cache/
contracts/node_modules/

# General
.env


# Node modules (global safety net)
node_modules/


# Ignore IDE junk
.vscode/
.DS_Store

# Contracts compiled files
contracts/artifacts/
contracts/cache/
contracts/node_modules/

# dotenv secrets
.env

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
